

<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container">
        <div class="padding30">
          <%= image_tag("the world is your home2.jpg", :alt => "The world is your home image") %>
          
  <h2 class="page-title">How It Works</h2>
  <mark2>
    
  <b>"In a world of obliged and desired mobility, the way we welcome each other is essential. Our cities need to be open and friendly for social diversity as we are when we welcome guests to our homes"<br>Pauli Rikaniemi </b>
<br/><br/>
      What is hospitality movement?
      <br/><br/>
      Imagine you can go anywhere in the world and you are welcomed by friends.
      <br/>
      This is the world hospitality movement was set up to facilitate. 
      <br/>
      Created originally for and by architects, artists and young researchers who are often travelling, 
      the platform is made to allow individuals connect through mutual hospitality. 
      <br/>
      ‘I help you today, knowing somebody else, and some other day will help me’ is our mantra. <br/>
      The hospitality movement is about bridging new friendships, staying with likeminded people.<br/>
      While exploring creative projects tegether and sharing knowledge on the journey. <br/>
      So when you are travelling through the world it becomes a little easier and more open.
<br/><br/>

<b>The ground rules </b>
<br/><br/>
- Meet with others. Be friendly at all times. 
         <br/>
        - Be curious when you meet people who are different to you. 
        <br/>
        - Meet diversity with respect. 
        <br/>
        - “I help you today with the knowledge that somebody else will help me, if needed, some other day.”
        <br/><br/>
<b>
What is a host on hospitality? </b>
<br/><br/>
Hosting might mean meeting for a coffee, showing people around your city,joining them in some festivities,
offering them a sofa or a place to stay for the night or directing them to the good places to go. 
Generally, hospitality movement is full of creative and intelligent people.
So everyone likes to go to the good places and stay with interesting people. 
You can list yourself as a host when you first sign up, or press the listing button on the homepage. 
<br/><br/>

<b>Sounds fantastic! I am travelling, how do I find people? </b>
<br/><br/>
If you are in the country already, 
the site identifies people’s location and to shows the hospitable people near to you;
within a few hundred miles, on the home page. Just flick left or right.
As well as this, you can search for hospitable people globally, by country or city.
And if nothing comes up here, try ‘showing all hosts’ .
Please bear in mind that our site is in it’s infancy so you might have to look here.
<br/><br/>
We recommend listing yourself when you want to use the site,
because contributing to the movement will bring you a lot. 
But also other users can get to understand a little about you through your profile.
<br/><br/>

<b>How do I contact people from hospitality? </b>
<br/><br/>
Currently we are showing emails for each person so it is super easy to contact them. 
As it is a small, baby community, it is prone to grow. 
We feel that this mothod is fine for now, and as we reach over 2000 user listings we will implement some onsite messaging features.
On a personal note; we just need to ensure there is enough demand before we develop these things. 
<br/><br/>

<b>I have feedback how do i get it to you? </b>

<br/><br/>  
Great! You got here early so we need all of the help and development. We are new so we are always listening to what you have to say. 
Just Email easaengland@gmail.com or louisk146@gmail.com
<br><br/>
<b>I want to help you with hospitality movement.</b>
<br/><br/> 
Fantastic. The hospitality movement is completely open at this point. If you are a developer or a designer or a community memeber that wants to help develop the project then just get in touch!
<br><br>
You can also donate to the project:<br><br>
Bitcoin address:
1KgWAP6MjKixLvpCtkAZePNrboG14f5oG9
<br><br>
Ethereum address (eth):
0x29B577FA77DA1387d70e3c6F13915F40C3624f7E



     </mark2>
        </div>
      </div>
    </div>
    <!-- .span12 -->
  </div>
  <!-- .row -->
</div>

    <div class="container page-content">
      <div class="row">
        <div class="span8">
          <div class="box-container">
            <div class="padding30">
              <h2 class="page-title">Contact us</h2>
              <ul class="unstyled">
                <li>
                  <i class="icon-envelope-alt"></i>
                  Email: easaengland@gmail.com </li>
                <li>
                  <i class="icon-phone"></i>
                  07821463679</li>
                <li>
                  <i class="icon-linkedin"></i>
                  www.ttttemple.co.uk </li>
                <li>
                  <i class="icon-twitter"></i>
                  twitter.com</li>
              </ul>
            
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- .span8 -->
        <!-- .span4 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
     
    