

<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="box-container">
        <div class="padding30">
          <h2 class="page-title">How It Works</h2>
        
        
        <b>"In a world of obliged and desired mobility, the way we welcome each other is essential. Our cities need to be open and friendly for social diversity as we are when we welcome guests to our homes"<br><br/>Denmark 2017</b>

<br><br/>
        The hospitality site was developed as a framework for peer to peer, distributed hospitality with an easy threshold of engagment allowing hospitable individuals to connect with each other fluidly.<br><br/>
Hospitality was developed in Denmark by Louis Koseda from England while researching the EASA workshop 'Colour'. Research suggested that people needed to branch out from their home connect with new people locally by extending a hospitality to each other. As-well as this, mobile communities such as EASA needed an easier way of connecting to one another and with the broader community to form a global hospitality sphere. These two functions seem to work well in parallell<br><br/>

The site identifies peoples location and to shows them hospitable people nearby aswell as allows them to search for hospitable people globally, by country or city. 

<br> <br/>

The site has been beta launched during EASA denmark 2017 so the international and local community can try it out and benefit from it whilst giving feedback to help it develop. We hope that the EASA community and Denmark will engage with Hospitality to create something beatifull. We want to introduce more features such as events soon with your feedback.
<br><br/>
Enjoy! 

          
        </div>
      </div>
    </div>
    <!-- .span12 -->
  </div>
  <!-- .row -->
</div>

    <div class="container page-content">
      <div class="row">
        <div class="span8">
          <div class="box-container">
            <div class="padding30">
              <h2 class="page-title">Contact us</h2>
              <ul class="unstyled">
                <li>
                  <i class="icon-envelope-alt"></i>
                  Email: easaengland@gmail.com </li>
                <li>
                  <i class="icon-phone"></i>
                  07821463679</li>
                <li>
                  <i class="icon-linkedin"></i>
                  www.ttttemple.co.uk </li>
                <li>
                  <i class="icon-twitter"></i>
                  twitter.com</li>
              </ul>
            
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- .span8 -->
        <!-- .span4 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
     
    