
<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="box-container">
        <div class="padding30">
          <h2 class="page-title">How It Works</h2>

        Hospitality enables people to unite through a shared spirit of mutal hosting. Hospitality makes it easier to descover and connect with positive people in every country, so when you are travelling or migrating through the world it becomes a little easier and more open. Through automatic location based searching hospitality allows you to descover and connect with likeminded new people in your own area or city. Bridging connections both globally and locally. <br/>

        <br/>
        <br/>
        
        <h2 class="page-title"> Activity </h2>

        Hosting might mean meeting for a coffee, showing people around your City, joining them in some festivities. Offering them a sofa to stay on for the night. Directing them to the good places to go. Etc 
        <br/>
        <br/>
        <h2 class="page-title">Ground rules </h2>

        Meet with others. Be friendly at all times.
        <br/>
        Be curious when you meet people who are different from you.
        <br/>
        Meet diversity with respect. 
        <br/>
        'I help you today with the knowledge that somebody else will help me, if needed, some other day.'
        <br/>

          
        </div>
      </div>
    </div>
    <!-- .span12 -->
  </div>
  <!-- .row -->
</div>

        </div>
        <!-- .info-box -->
      </div>
      <!-- .span4 -->
    </div>
  </div>
</div>
